<header class="p-2">

    <div class="container mx-1 flex justify-between">

        <h1 class="text-xl font-bold w-fit mx-2">
            <a href="../../../room-inout/room-inout.html">
                フランチャイジー管理システム
            </a>
        </h1>

        <div class="flex">
            <nav class="p-2 w-fit text-right">
                <a href="mypage.html" class="hover:underline mx-2">
                    <i class="fa-regular fa-circle-user"></i> 西浦 幹
                </a>
            </nav>

        </div>
        
    </div>
</header>