<ul>
    <li><a href="index.html"><i class="fas fa-tachometer-alt"></i> ダッシュボード</a></li>
    <li><a href="news.html"><i class="fas fa-bullhorn"></i> 本部からのお知らせ</a></li>
    <hr>
    <li><a href="student_account_management.html"><i class="fas fa-user-graduate"></i> 生徒管理</a></li>
    <li><a href="guardian_account_management.html"><i class="fas fa-user-friends"></i> 保護者管理</a></li>
    <li><a href="classroom_management.html"><i class="fas fa-school"></i> 教室管理</a></li>
    <li><a href="teacher_account_management.html"><i class="fas fa-chalkboard-teacher"></i> 講師管理</a></li>
    <li><a href="admin_account_management.html"><i class="fas fa-user-shield"></i> 管理者管理</a></li>
    <hr>
    <li><a href="mypage.html"><i class="far fa-user-circle"></i> マイページ</a></li>
</ul>
