<aside id="sidebar">
    <ul>
        <li><a href="index.html"><i class="fas fa-tachometer-alt"></i> ダッシュボード</a></li>
        <li><a href="overview.html"><i class="fas fa-info-circle"></i> システム概要</a></li>
        
        <li>
            <a href="#" class="unit-toggle"><i class="fas fa-code"></i> HTML ユニット</a>
            <ul class="unit-content">
                <li><a href="html_intro.html"><i class="fas fa-video"></i> HTMLの基本</a></li>
                <li><a href="html_advanced.html"><i class="fas fa-video"></i> 高度なHTML</a></li>
            </ul>
        </li>
        
        <li>
            <a href="#" class="unit-toggle"><i class="fas fa-paint-brush"></i> CSS ユニット</a>
            <ul class="unit-content">
                <li><a href="css_intro.html"><i class="fas fa-video"></i> CSSの基本</a></li>
                <li><a href="css_advanced.html"><i class="fas fa-video"></i> 高度なCSS</a></li>
            </ul>
        </li>
        
        <li>
            <a href="#" class="unit-toggle"><i class="fas fa-laptop-code"></i> JavaScript ユニット</a>
            <ul class="unit-content">
                <li><a href="javascript_intro.html"><i class="fas fa-video"></i> JavaScriptの基本</a></li>
                <li><a href="javascript_advanced.html"><i class="fas fa-video"></i> 高度なJavaScript</a></li>
            </ul>
        </li>
        
        <li>
            <a href="#" class="unit-toggle"><i class="fas fa-coffee"></i> Java ユニット</a>
            <ul class="unit-content">
                <li><a href="java_intro.html"><i class="fas fa-video"></i> Javaの基本</a></li>
                <li><a href="java_advanced.html"><i class="fas fa-video"></i> 高度なJava</a></li>
            </ul>
        </li>
        
        <li><a href="mypage.html"><i class="fa-regular fa-circle-user"></i> マイページ</a></li>
    </ul>
</aside>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="script.js"></script>