<ul>
    <li><a href="index.html"><i class="fas fa-tachometer-alt"></i> ダッシュボード</a></li>

    <hr>
    <li>
        <a href="#" class="unit-toggle"><i class="fas fa-book-open"></i> コース管理 <span class="toggle-icon">></span></a>
        <ul class="unit-content">
            <li><a href="course_index.html"><i class="fas fa-list"></i> コース一覧</a></li>
            <li><a href="course_detail.html"><i class="fas fa-edit"></i> コース詳細・編集</a></li>
            <li><a href="course_create.html"><i class="fas fa-plus"></i> コース登録</a></li>
        </ul>
    </li>
    <hr>
    <li>
        <a href="#" class="unit-toggle"><i class="fas fa-video"></i> コンテンツ管理 <span class="toggle-icon">></span></a>
        <ul class="unit-content">
            <li><a href="content_index.html"><i class="fas fa-list"></i> コンテンツ一覧</a></li>
            <li><a href="content_detail.html"><i class="fas fa-edit"></i> コンテンツ詳細・編集</a></li>
            <li><a href="content_create.html"><i class="fas fa-plus"></i> コンテンツ登録</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="unit-toggle"><i class="fas fa-clipboard-check"></i> 考査管理 <span class="toggle-icon">></span></a>
        <ul class="unit-content">
            <li><a href="test_index.html"><i class="fas fa-list"></i> 考査一覧</a></li>
            <li><a href="test_detail.html"><i class="fas fa-edit"></i> 考査詳細・編集</a></li>
            <li><a href="test_create.html"><i class="fas fa-plus"></i> 考査登録</a></li>
            <li><a href="test_grading.html"><i class="fas fa-check"></i> 考査採点</a></li>
        </ul>
    </li>
    <hr>
    <li>
        <a href="#" class="unit-toggle"><i class="fas fa-users-cog"></i> ユーザ管理 <span class="toggle-icon">></span></a>
        <ul class="unit-content">
            <li><a href="user_index.html"><i class="fas fa-list"></i> ユーザ管理/コース進捗</a></li>
            <!-- <li><a href="user_history.html"><i class="fas fa-user-edit"></i> コース進捗</a></li> -->
            <!-- <li><a href="user_create.html"><i class="fas fa-user-plus"></i> ユーザ登録</a></li> -->
        </ul>
    </li>
    <li>
        <a href="#" class="unit-toggle"><i class="fas fa-user-tie"></i> スタッフ管理 <span class="toggle-icon">></span></a>
        <ul class="unit-content">
            <li><a href="staff_index.html"><i class="fas fa-list"></i> スタッフ管理</a></li>
            <!-- <li><a href="staff_detail.html"><i class="fas fa-user-edit"></i> スタッフ詳細・編集</a></li> -->
            <!-- <li><a href="staff_create.html"><i class="fas fa-user-plus"></i> スタッフ登録</a></li> -->
        </ul>
    </li>
    <!-- <li>
        <a href="#" class="unit-toggle"><i class="fas fa-school"></i> 学校管理 <span class="toggle-icon">></span></a>
        <ul class="unit-content">
            <li><a href="school_index.html"><i class="fas fa-list"></i> 学校一覧</a></li>
            <li><a href="school_detail.html"><i class="fas fa-edit"></i> 学校詳細・編集</a></li>
            <li><a href="school_create.html"><i class="fas fa-plus"></i> 学校登録</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="unit-toggle"><i class="fas fa-chalkboard-teacher"></i> 講師管理 <span class="toggle-icon">></span></a>
        <ul class="unit-content">
            <li><a href="teacher_index.html"><i class="fas fa-list"></i> 講師一覧</a></li>
            <li><a href="teacher_detail.html"><i class="fas fa-user-edit"></i> 講師詳細・編集</a></li>
            <li><a href="teacher_create.html"><i class="fas fa-user-plus"></i> 講師登録</a></li>
        </ul>
    </li>
    <li>
        <a href="#" class="unit-toggle"><i class="fas fa-user-graduate"></i> 生徒管理 <span class="toggle-icon">></span></a>
        <ul class="unit-content">
            <li><a href="student_index.html"><i class="fas fa-list"></i> 生徒一覧</a></li>
            <li><a href="student_detail.html"><i class="fas fa-user-edit"></i> 生徒詳細・編集</a></li>
            <li><a href="student_create.html"><i class="fas fa-user-plus"></i> 生徒登録</a></li>
        </ul>
    </li> -->
    <hr>
    <li><a href="mypage.html"><i class="fa-regular fa-circle-user"></i> マイページ</a></li>
</ul>
