<header class="bg-gray-100 p-2">

    <div class="container mx-1 flex justify-between">

        <h1 class="text-xl font-bold w-fit mx-2">
            <a href="../../../room-inout/room-inout.html">
                <i class="fa-regular fa-clock mx-1"></i>
                入退室管理システム
            </a>
        </h1>

        <div class="flex">
            <nav class="p-2 w-fit text-right">
                <a href="mypage.html" class="hover:underline mx-2">
                    <i class="fa-regular fa-circle-user"></i> 西浦 幹
                </a>
            </nav>
            <div class="hamburger my-auto" id="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        
    </div>
</header>